<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-uno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>
			<button class="boton" on-click="miEvento1">[[bot1]]</button> 
			<button class="boton" on-click="miEvento2">[[bot2]]</button>
	</div>
  </template>

  <script>
    /**
     * `componente-uno`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteUno extends Polymer.Element {
      static get is() { return 'componente-uno'; }
      static get properties() {
        return {
          bot1: {
            type: String,
            value: 'Boton 1'
          },
		  bot2: {
            type: String,
            value: 'Boton 2'
          }
        };
      }
	  
	    miEvento1(e) {
        this.dispatchEvent(new CustomEvent('my-element1', {			
			detail: {
				accion: "boton1"
			}
		}));
      }
	  
	  
	  miEvento2(e) {
        this.dispatchEvent(new CustomEvent('my-element2', {			
			detail: {
				accion: "boton2"
			}
		}));
      }
    }

    window.customElements.define(ComponenteUno.is, ComponenteUno);
  </script>
</dom-module>
